<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid float-left" style="width: 700px;">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Sukses!</h4>
			<p th:if="${updateJabatan}" th:text="|Jabatan dengan ID ${jabatan.id} berhasil diubah|"></p>
			<p th:if="${updatePegawai}" th:text="|Pegawai dengan NIP ${pegawai.nip} berhasil diubah|"></p>
			<hr>
			<a href="/" class="alert-link">Back to homepage</a>
		</div>
	</div>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>